@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

::-webkit-scrollbar {
    width: 0px;  /* Ocultar la barra de desplazamiento en Chrome/Safari */
  }
  
  /* Estilos adicionales para Firefox */
  html {
    scrollbar-width: none;
  }